<div class="location-infowindow">
	<input class="location-title edit-title" type="text" value="<%= @location.title %>" placeholder="title" />
	<a href="#" class="location-delete">Delete <%= @location.smart_title %></a>
</div>