<div class="location-map autoclear">
	<input type="text" class="title" placeholder="Title" value="<%= @location.title %>" />
	<h1><%= @location.geo_string %></h1>
	<%= link_to "Manage Photos", photos_edit_path(@location) %>
	<figure class="map"></figure>
	<input class="save" type="button" value="Save" />
</div>