<div>
	<img src="<%= current_user.photo.large %>" alt="Your photo" title="Your photo" />
    <label>Your photo</label>
    <input type="text" class="user-photo_url" value="<%= current_user.photo_url %>" />
    <p class="note">
    	This will appear at the top of your posts
    </p>
</div>