<article class="location rollup">
	<%= link_to location_path(location), { :class => "autoclear" } do %>
		<% if location.photo_url %>
			<%= image_tag location.photo_url, :width => 90, :class => "location-photo framed" %>
		<% end %>
		<h1 class="location-title"><%= location.title %></h1>
		<% if location.teaser %>
			<p class="location-teaser">
				<%= truncate(location.teaser.html_safe, :length => 300) %>
				<span class="more">Continue Reading</span>
			</p>
		<% end %>
	<% end %>
</article>
