<input type="text" id="map-title" class="edit-title" value="<%= @map.title %>" placeholder="Title" />
<p class="note">
	Drag map file(kml or gpx) onto map or <input type="file" id="map-input-button" />
</p>
<figure id="google-map"></figure>