<form class="inline-form">
	<textarea id="map-title" class="field" data-property="title" placeholder="Title"><%= map.title %></textarea>
	<%= render "admin/global/date_fields", :obj => map, :type => "map" %>
	<a class="delete edit-link">Delete</a>
</form>