<%= render "admin/global/breadcrumb",
	:trip => @map.trip,
	:crumbs => [
		{ :title => "Maps", :url => maps_path(@map.trip) }
		], 
	:page => "New"
%>
<div id="trip" data-json="<%= @trip.to_json %>">
	<form>
		<%= render "admin/maps/fields", :map => @map %>
		<footer class="buttons">
			<input type="submit" id="map-save" class="button" value="Create" />
		</footer>
	</form>
</div>