<div id="location" data-json="<%= @location.to_json %>">
	<section id="map-input">
		<input type="file" id="map-input-button" />
		<input type="button" id="map-upload" value="Upload" />
	</section>
	<div id="map"></div>
</div>