<% if current_user.owns?(@location) %>
    <nav id="subnav">
      <h1><%= @location.to_s %></h1>
      <ul>
        <li><%= link_to "View", location_path(@location) %></li>
        <li><%= link_to "Edit Photos", photos_edit_path(@location) %></li>
        <li><%= link_to "Add Photos", new_location_photos_path(@location) %></li>
      </ul>
    </nav> 
  <% end %>