<% if current_user.owns?(@location) %>
    <nav id="subnav">
      <h1><%= link_to @location.to_s, location_path(@location) %></h1>
      <ul>
      	<% if @location.photos.count > 0 %>
        	<li><%= link_to "Edit Photos", photos_edit_path(@location) %></li>
        <% end %>
        <li><%= link_to "Add Photos", new_location_photos_path(@location) %></li>
      </ul>
    </nav> 
  <% end %>