<% if current_user.owns?(location) %>
	<section id="photo-upload">
		<header>
			<section id="native-photos">
				<h1>Drag photos</h1>
				<span class="or">Or</span>
				<input type="file" multiple="multiple" />
			</section>
			<section id="third-party-photos">
				<%= render "admin/photos/third_parties" %>
			</section>
		</header>
		
		<div id="photo-container" class="autoclear"></div>
		<footer class="buttons">
			<input type="button" value="Clear" class="button" id="clear-photos" />
			<input type="button" value="Import Photos" class="button" id="save-photos" />
		</footer>
	</section>
<% end %>