<% if current_user.owns?(location) %>
	<section id="photo-upload">
		<header>
			<h1>Drag photos</h1>
			<span class="or">Or</span>
			<ul>
				<li><input type="file" multiple="multiple" /></li>
				<% if !current_user.has_flickr? %>
					<li id="photo-upload-flickr"><a href="/auth/flickr?redirect=<%= request.fullpath %>%3Fflickr">Import from Flickr</a></li>
				<% end %>
			</ul>
			<% if @user_flickr_sets %>
				<div class="tabs" id="user-flickr-controller" data-realm="<%= current_user.flickr_account.to_json %>">
					<nav>
						<ul><li>
							<a href="#user-flickr-sets" class="flickr-tab-link">Choose from Flickr Sets</a>
						</li><li>
							<a href="#user-flickr-galleries" class="flickr-tab-link">Choose from Flickr Galleries</a>
						</li><li>
							<a href="#user-flickr-photos">Load all photos</a>
						</li></ul>
					</nav>
					<ul id="user-flickr-sets" class="flickr-tab tab">
						<% @user_flickr_sets.each do |set| %>
							<li>
								<a class="flickr-set" data-set="<%= set.to_json %>">
									<img src="<%= flickr_photoset_url set %>" />
								</a>
							</li>
						<% end %>
					</ul>
					<ul id="user-flickr-galleries" class="flickr-tab tab">
					</ul>
				</div>
			<% end %>
		</header>
		<div id="photo-container" class="autoclear">
			
		</div>
		
		<input type="button" value="Save" id="save-photos" />
	</section>
<% end %>