<header>
	<h1 id="page-title"><%= @trip.title %></h1>
</header>
<figure data-user="<%= @trip.user.to_json %>" data-json="<%= @maps.to_json %>" data-trip="<%= @trip.to_json %>" id="map" class="map"></figure>