<%= render "admin/global/breadcrumb",
	:trip => @trip,
	:crumbs => [
		{ :title => "Photos", :url => photos_edit_path(@trip) }
		],
	:page => "New"
%>
<section id="trip" class="pad" data-json="<%= @trip.to_json %>">
	<%= render "admin/global/photo_uploader", :obj => @trip %>
</section>