.welcome-index #container .left-col { margin-right:310px; }
.welcome-index #container .right-col { width:300px; }

.kayak { position:relative; }
.kayak .kayak-button-overlay { position:absolute; right:8px; bottom:12px; width:140px; height:30px; background:transparent; cursor:pointer; }
.kayak .kayak-iframe { width:300px; height:250px; border:0; overflow:hidden; }