<section>
 <header>Welcome to AfterGlobe! Begin by telling us what kind of travel you do. This could be vacations, cruises, road trips or anything else! This will be how your travels are organized.  We've already started you out with a few examples that you could use or not. You'll always be able to come back to this list and add new types of travel.</header>
 <section>
  <ul>
   <% @user.location_types.each do |type| %>
    <li>
     <article class="location-type">
      <%= link_to type.title, user_location_type_path(:user_id => type.user.id, :id => type.slug) %> 
      <%= button_to "x", user_location_type_path(:user_id => type.user.id, :id => type.id), :method => "delete", :class => "remove" %>
     </article> 
    </li>
   <% end %> 
  </ul>
 </section>
</section>
