<div class="user-location">
	<% if @user.location? %>
		<%= @user.city %>, <%= @user.country_name %>
	<% else %>
		<a class="user-button user-location-button">Tell us where you are from!</a>
	<% end %>
</div>