<% if !current_user.anonymous? %>
	<section id="user-info" class="autoclear">
		<header>
			<img src="<%= current_user.photo.url %>" />
			<h1><%= link_to "Hi, #{current_user.name}", me_path %></h1>
		</header>
		<a class="control" id="user-dropdown-control">
			<span class="arrow"></span>
		</a>
	    <nav class="dropdown" id="user-nav">
	    	<ul>
	     		<li><%= link_to "Logout", logout_path %></li>
	     	</ul>
	    </nav>
	</section>

	<% content_for :scripts_footer do %>
		<script>
			window.addEventListener("DOMContentLoaded", function () {
				new DropDown({
					el:document.querySelector("#user-info .dropdown"),
					control:document.querySelector("#user-info .control")
				}).render()
			})
		</script>
	<% end %>
<% end %>

