 <section>
  <%= render "location_types_workflow" %>
 </section>
 <section id="map" style="width:630px;height:400px;">
 
 </section>

<% content_for :scripts_footer do %>
 <script>
  var map = new google.maps.Map(document.getElementById("map"), {
    zoom: 4,
    center: new google.maps.LatLng(41.08193934195916,-93.67801624999997),
    mapTypeId: google.maps.MapTypeId.HYBRID
   });
   google.maps.event.addListener(map, "click", function (mapEvent) {
    geocoder = new google.maps.Geocoder();
    geocoder.geocode({latLng:mapEvent.latLng}, function (e) {
     var address = (function () {
      var hash
      for(var i in e) {
       if( e[i].types[0] == "locality" ) {
        hash = e[i]
       }
     }
     if( hash ) { 
      return hash.formatted_address 
     }
     })(),
     country = (function () {
      for(var i in e) {
       if( e[i].types[0] == "country" ) { return e[i].formatted_address }
      }
     })(), city
     if( address ) {
      city = address.split(",")[0]
     }
    })
   })
 </script>
<% end %>
