<figure id="map" class="map shadow"></figure>
<section id="trips">
	<% @user_trips.each_pair do |year, trips| %>
		<section class="year">
			<h1 class="year-title"><%= year %></h1>
			<h2 class="trips-count"><%= pluralize(trips.length, 'Trip') %></h2>
			<div class="content-grid two-col autoclear">
				<% trips.each do |trip| %>
					<%= render "global/trip_grid", :trip => trip %>
				<% end %>
			</div>
		</section>
	<% end %>
</section>