
<section id="hero">
 <ul>
  <% @hero_locations.each do |location| %>
   <li>
    <%= render "locations/rollup", :location => location %>
   </li>
  <% end %>
 </ul>
</section>

<% content_for :scripts_footer do %>
 <script>
  window.addEventListener("DOMContentLoaded", function () {
  })
 </script>
<% end %>
