<section id="hero" class="hero">
	<header class="hero-header">
		<h1 class="hero-title"><%= @hero.title %></h1>
		<p><%= @hero.summary %></p>
	</header>
	<img src="<%= @hero.picture.widescreen %>" width="1200" class="hero-image" />
</section>


<% content_for :right_col do %>
	<section id="kayak" class="kayak">
		<iframe id="kayak-iframe" class="kayak-iframe" src="http://www.kayak.com/widget/300x250?ai=kayaksample&amp;p=&amp;doubleEncoded=on&amp;size=300x250"></iframe>
	</section>
<% end %>