<div class="yui3-g"> 
 <div class="yui3-u-1-2">
  <section id="welcome">
   <header>For the love of Adventure</header>
   <p>Welcome to where you can read about all about travels and adventures</p>
  </section>
 </div>
 <div class="yui3-u-1-2">
  <nav id="locations-nav">
  </nav>
 </div>
</div>
