<section>
	<% @stories.each do |story| %>
		<%= render "#{story.class.name.downcase.pluralize}/story", :story => story %>
	<% end %>
</section>

<% content_for :right_col do %>
	<section id="kayak" class="kayak">
		<iframe scrolling="no" id="kayak-iframe" class="kayak-iframe" src=""></iframe>
	</section>
<% end %>