<header id="content-header">
	<%= render "admin/global/breadcrumb", 
		:trip => @trip,
		:crumbs => [
			{ :title => "Journal", :url => admin_journals_path(@trip.slug) }
			],
		:page => "Edit #{@journal.title}" 
		%>
</header>
<article id="journal" data-json="<%= @journal.to_json(:except => :body) %>" data-trip="<%= @trip.to_json %>">
	<form class="journal-form">
		<%= render "form", :journal => @journal %>
	</form>
</article>