<div class="pad">
	<header id="content-header">
		<%= render "admin/global/breadcrumb", 
			:trip => @trip,
			:crumbs => [
				{ :title => "Journal", :url => user_trip_journals_path(:user_id => @trip.user.slug, :trip_id => @trip.slug) }
				],
			:page => "New Entry" 
			%>
	</header>
	<article id="journal" data-trip="<%= @trip.to_json %>">
		<form class="journal-form">
			<%= render "form", :journal => @journal %>
			<footer class="buttons">
				<input type="submit" id="journal-save" value="Save" />
			</footer>
		</form>
	</article>
</div>