<div class="pad">
	<article id="post" class="post" data-json="<%= @post.to_json %>" data-trip="<%= @trip.to_json %>">
		<form class="post-form">
			<%= render "form", :post => @post %>
			<footer class="buttons">
				<input type="submit" id="post-save" value="Save" />
			</footer>
		</form>
	</article>
</div>