<nav class="breadcrumb">
	<ul>
		<li><%= link_to trip.title, trip_path(trip) %></li>
		<% if defined?(crumbs) %>
			<% crumbs.each do |crumb| %>
				<li><%= link_to crumb[:title], crumb[:url] %></li>
			<% end %>
		<% end %>
		<li><%= page %></li>
	</ul>
</nav>