<section id="<%= type %>-dates" class="field has-date date-field">
	<label>Enter Dates</label>
	<span><%= obj.date_string %></span>
	<input type="text" />
	<a class="reset">(reset)</a>
</section>

<% content_for :scripts_footer do %>
	<script src="/tiny_mce/tiny_mce.js"></script>
	<script src="/kalendae/kalendae.min.js"></script>
	<script>
		window.moment = Kalendae.moment;
	</script>
<% end %>