<figure class="photo rounded content" id="photo-<%= photo.id %>" data-json="<%= photo.to_json %>">
	<img src="<%= photo.square(400) %>" />
	<figcaption>
		<h1><%= photo.title %></h1>
	</figcaption>
</figure>