<section class="countries">
	<% @countries.each_pair do |country, trips| %>
		<section class="country">
			<h1><%= country %></h1>
			<h2 class="trips-count"><%= pluralize(trips.length, 'Trip') %></h2>
			<div class="content-grid two-col autoclear">
				<% trips.each do |trip| %>
					<%= render "global/trip_grid", :trip => trip %>
				<% end %>
			</div>
		</section>
	<% end %>
</section>