body { color: #333; font-size:14px; font-family:Helvetica; background:url(/assets/backgrounds/acadia.jpg) top center no-repeat fixed;  }
::-webkit-scrollbar-thumb {
	color:#ccc
}

a, a:visited, a:active { text-decoration:none; color: #006; }
a:hover { text-decoration: underline; }

.clear { display:block; clear:both; }
br.clear { height:0; line-height:0 }

#container { margin:0px auto; width:960px; }

#site-header { margin:0px auto; padding:10px 20px 0; }
#site-header #site-title { font-size:32px; }
#site-header #site-title a { color:#fff; }

#map { height:400px; }
#map nav { display:none }

#locations-nav { margin:10px -20px 0; }
#locations-nav a { color: #fff; background: rgba(0, 50, 100, .6); }

#locations-nav li:hover a, #locations-nav .selected a { background: rgba(0, 50, 100, .8); }
#locations-nav .location img { margin:10px auto; max-width:70px; height:50px; }

#locations-nav li:hover img, #locations-nav .selected img { -webkit-filter:saturate(150%); }

#locations-nav #large-buttons ul { overflow-y: hidden; }
#locations-nav #large-buttons li { display: block; float:left; }
#locations-nav #large-buttons li:hover { box-shadow: -10px -1px 27px -12px #000; }
#locations-nav #large-buttons li:first-child { border-left:0px; }
#locations-nav #large-buttons li:first-child a { padding:0px; width:auto; height:auto; line-height:0; }
#locations-nav #large-buttons li:first-child img { margin:0px; height:90px; width:90px; max-width: none; -webkit-filter: grayscale(0%); }
#locations-nav #large-buttons li a { position:relative; display:block; }
#locations-nav #large-buttons a img, #locations-nav #large-buttons img { -webkit-filter: grayscale(100%); }
#locations-nav #large-buttons a:hover img, #locations-nav #large-buttons .selected img { -webkit-filter: grayscale(0%); }
#locations-nav a:hover { text-decoration:none; }

#locations-nav #large-buttons .location { padding:10px; width:70px; height:70px; border-left:1px solid #000; text-align:center; }
#locations-nav #large-buttons .location h2 { margin:-5px -10px 0px -10px; height:16px; text-align:center; font-size:10px; }

#locations-nav #large-buttons { float:left; }

#locations-nav #dropdown { position:relative; z-index:10; margin-left:908px; height:90px; }
#locations-nav #dropdown:after { visibility: hidden; height:0; line-height: 0; clear:both; content:"."; }
#locations-nav #dropdown:hover ul, #locations-nav #dropdown:hover header,
#locations-nav #dropdown.visible ul, #locations-nav #dropdown.visible header { display:block; box-shadow: -10px -1px 27px -12px #000;}
#locations-nav #dropdown header { width:52px; height:90px; background: rgba(0, 50, 100, .4); color: #fff; cursor: pointer; }
#locations-nav #dropdown header span { 
	height:0;
	width:0;
	line-height: 0;
	display:block; 
	border-left:15px solid transparent;
	border-right:15px solid transparent;
	border-top:15px solid #fff;
	border-bottom:15px solid transparent;
	position:relative;
	top:40px;
	left:10px;
}
#locations-nav #dropdown header:hover { box-shadow: -10px -1px 27px -12px #000;}
#locations-nav #dropdown ul { position:absolute; right:0px; top:90px; display:none; max-height:300px; overflow-y: scroll; }
#locations-nav #dropdown li { font-size:10px; }
#locations-nav #dropdown li a { display:block; padding:10px; width:200px; background:#fff; color:#000; }
#locations-nav #dropdown li a:hover, #locations-nav #dropdown li.selected a { background:rgba(0, 50, 100, 1); color:#fff; }
#locations-nav #dropdown li h2:after { line-height:0; height:0; content:"."; visibility: hidden; clear:both; }
#locations-nav #dropdown li .image { display: inline-block; width:70px; text-align:center; margin:0px; vertical-align: middle; }
#locations-nav #dropdown li img { margin:0px auto; }
#locations-nav #dropdown li h2 { display:inline-block; width:126px; text-align:center; vertical-align: middle; }

#content { margin:0px auto; padding:30px; background:#fff; }

/* ROLLUPS */

.rollup.location { padding:10px 0; border-bottom:1px solid #ccc; }
.rollup.location header { margin:0 0 10px; font-size:12px; }
.rollup.location .location-title { padding-bottom:5px; font-size:22px; }
.rollup.location .location-photo { float:left; padding-bottom:10px; }
.rollup.location .location-photo + .location-teaser { margin-left:100px; }
.rollup.location .more { display:block; padding-top:5px; font-size:12px; }

/* LOCATION DETAIL PAGE */

.locations-show #location { position:relative; }
.locations-show #location-title { position:relative; font-size:38px; }
.locations-show #map { position:relative; z-index:5; clear:right; float:right; margin:20px 54px 20px 20px; width:394px; height:300px; }
.locations-show #location #hero-gallery { position:relative; z-index:1; float:right; margin:0 0 0 20px; padding:0; width:500px; text-align:center; background:#f1f1f1; }
.locations-show #location #hero-gallery li { float:left; padding-left:5px; width:75px; height:78px; list-style-type:none; }
.locations-show #location #hero-gallery li img { cursor: pointer; }
.locations-show #location #hero-gallery li:first-child { padding-left:0px; } 
.locations-show #location #hero-gallery #hero-large { height: 332px; text-align:center; }
.locations-show #location #hero-gallery #location-photos { padding:10px; }
.locations-show #location #hero-gallery .paddle { margin-top:13px; height:0px; width:0px; background:transparent; }
.locations-show #location #hero-gallery .paddle.left {
 border-left:25px solid transparent;
 border-right:25px solid #000;
 border-bottom:25px solid transparent;
 border-top:25px solid transparent;
 left:-15px;
 }
.locations-show #location #hero-gallery .paddle.right {
 border-left:25px solid #000;
 border-right:25px solid transparent;
 border-bottom:25px solid transparent;
 border-top:25px solid transparent;
 right:-15px;
 }

.locations-show #geo-data #location-political-geo { font-size:18px; text-align:right; }
.locations-show #geo-data #map { margin:20px 0; }

.locations-show #location #journal_entries .entry { position:relative; }
.locations-show #location #journal_entries .entry-title { margin:20px 0; font-size:18px; }
.locations-show #location #journal_entries .entry-body { line-height:16px; }
.locations-show #location #journal_entries .edit-journal-entry-link { display:inline-block; margin-top:10px; }

.locations-show #location .toolbox { display:none; }
.locations-show #location:hover .toolbox { display:block; }
.locations-show #location > .toolbox { clear:both; }

/* LOCATION FORM */
#location-form input[type=text] { border:0px; } 
#location-form #server-messages { margin-bottom:20px; }
#location-form #server-messages .success { padding:10px; border:1px solid #0f0; color:#0f0;}
#location-form #server-messages .error { padding:10px; border:1px solid #f00; color:#f00;}
#location-form #location-mashup { margin:10px 0; }
#location-form #location-title { display:block; margin-bottom:10px; width:775px; font-size:22px; }
#location-form #location-meta { margin:0 200px 0 140px; }
#location-form #location-photo img { float:left; padding-right:20px; width: 120px; }
#location-form #flickr-photos { float:right; width: 150px; }
#location-form #flickr-photos img { width: 120px; cursor:pointer; }
#location-form #flickr-photos ul { max-height:600px; overflow-y:scroll; text-align:center; }
#location-form input[type=submit] { display:inline-block; margin:10px 0; }
#location-form #location-summary { display:block; margin:20px 0; width:600px; height: 150px; }

/* JOURNAL ENTRY FORM */

#journal-entry-fields .journal-entry-title { display:block; width:100%; font-size:22px; }
#journal-entry-fields .journal-entry-body { display:block; margin:20px 0; width:100%; min-height:300px; }
#journal-entry-fields .journal-entry-day { display:block; margin-bottom:20px; width:100%; font-size:22px; }

/* CONTAINER FOOTER */
#container > footer { clear: both; }

/* SCROLLER */
.scroller { position:relative; }
.scroller .paddle.left { position:absolute; left:0px; cursor: w-resize; }
.scroller .paddle.right { position:absolute; right:0px; cursor: e-resize; }
.scroller .container { position:relative; -webkit-transition:left ease-in-out 500ms; }
.scroller .overflow-container { overflow-x:hidden; overflow-y:visible; margin:0px auto; }

/* WELCOME PAGE */
.welcome-index #content {  }

/* USER ADMIN PAGE */
.users-me #user section { margin-bottom:20px; text-align:center; }
.users-me #user section header { font-size:22px; }
.users-me #user section img { max-height:75px; height:50px; }
.users-me #user section td { padding:10px;}