body { color: #666; font-size:14px; font-family:Helvetica;  }

a, a:visited, a:active { text-decoration:none; color: #006; }
a:hover { text-decoration: underline; }

.clear { display:block; clear:both; }
br.clear { height:0; line-height:0 }

#container { margin:0px auto; width:920px; padding:20px; }

#site-header { padding:10px; background:rgba(0, 0, 0, 1); }
#site-header #site-title { font-size:22px; }
#site-header #site-title a { color:#fff; }

#map { height:400px; }
#map nav { display:none }

#locations-nav li { display:block; float:left; }
#locations-nav li:first-child { border-left:0px; }
#locations-nav .location { position:relative; display:block; padding:10px; width:70px; height:70px; color: #666; background: rgba(255, 255, 255, .7); border-left:1px solid #000; text-align:center; }
#locations-nav .location h2 { margin:-5px -10px 0px -10px; text-align:center; font-size:10px; }
#locations-nav .location:hover { text-decoration:none; }
#locations-nav img { position:absolute; left: 8px; bottom: 0px; margin:10px 0; height:50px; -webkit-filter: grayscale(100%); }
#locations-nav li:hover { background: rgba(255, 255, 255, 1); }
#locations-nav .location:hover img { -webkit-filter: grayscale(0%); }
#locations-nav .paddle { height: 90px; }

#content { margin:0px auto; padding:50px; width:860px; }

/* ROLLUPS */

.rollup.location { padding:10px 0; border-bottom:1px solid #ccc; }
.rollup.location header { margin:0 0 10px; font-size:12px; }
.rollup.location .location-title { padding-bottom:5px; font-size:22px; }
.rollup.location .location-photo { float:left; padding-bottom:10px; }
.rollup.location .location-photo + .location-teaser { margin-left:100px; }
.rollup.location .more { display:block; padding-top:5px; font-size:12px; }

/* LOCATION DETAIL PAGE */

.locations-show #location { position:relative; }
.locations-show #location-title { margin-bottom:20px; font-size:24px; }
.locations-show #location #hero-gallery { position:relative; z-index:1; float:right; margin:0 0 0 20px; padding:0 0 20px 0; width:500px; text-align:center; background:#f1f1f1; }
.locations-show #location #hero-gallery li { float:left; padding-left:5px; width:75px; height:77px; list-style-type:none; }
.locations-show #location #hero-gallery li img { cursor: pointer; }
.locations-show #location #hero-gallery li:first-child { padding-left:0px; } 
.locations-show #location #hero-gallery #hero-large { height: 332px; text-align:center; }
.locations-show #location #hero-gallery #location-photos { padding-bottom:10px; }
.locations-show #location #hero-gallery .paddle { margin-top:13px; height:50px; }

.locations-show #geo-data #location-political-geo { font-size:18px; text-align:right; }
.locations-show #geo-data #map { margin:20px 0; }

.locations-show #location #journal_entries .entry { position:relative; }
.locations-show #location #journal_entries .entry-title { margin:20px 0; font-size:18px; }
.locations-show #location #journal_entries .entry-body { line-height:16px; }
.locations-show #location #journal_entries .edit-journal-entry-link { display:inline-block; margin-top:10px; float:right; }
.locations-show #location #journal_entries .new-journal-entry-link { clear: both; float:right; display:inline-block; margin-top:10px; }

.locations-show #location .toolbox { position:absolute; display:none; right:0px; top:0px; }
.locations-show #location:hover .toolbox { display:block; }

/* LOCATION FORM */
#location-form input[type=text] { border:0px; } 
#location-form #location-mashup { margin:10px 0; }
#location-form #location-title { display:block; margin-bottom:10px; width:775px; font-size:22px; }
#location-form #location-meta { margin:0 200px 0 140px; }
#location-form #location-photo img { float:left; padding-right:20px; width: 120px; }
#location-form #flickr-photos { float:right; width: 150px; }
#location-form #flickr-photos img { width: 120px; cursor:pointer; }
#location-form #flickr-photos ul { max-height:600px; overflow-y:scroll; text-align:center; }
#location-form input[type=submit] { display:inline-block; margin:10px 0; }

/* JOURNAL ENTRY FORM */

#journal-entry-fields .journal-entry-title { display:block; width:100%; font-size:22px; }
#journal-entry-fields .journal-entry-body { display:block; margin:20px 0; width:100%; min-height:300px; }
#journal-entry-fields .journal-entry-day { display:block; margin-bottom:20px; width:100%; font-size:22px; }

/* CONTAINER FOOTER */
#container > footer { clear: both; }

/* SCROLLER */
.scroller { position:relative; }
.scroller .paddle { background:rgba(30, 30, 30, 1); }
.scroller .paddle.left { position:absolute; left:0px; cursor: w-resize; }
.scroller .paddle.right { position:absolute; right:0px; cursor: e-resize; }
.scroller .container { position:relative; -webkit-transition:left ease-in-out 500ms; }
.scroller .overflow-container { overflow-x:hidden; overflow-y:visible; margin:0px auto; }
