<% if @user.locations.length > 0 %>
    <ul class="locations">
        <% @user.locations.each do |location| %>
            <li>
            	<article class="location">
	                <%= link_to admin_location_path(location) do %>
	                	<h1><%= location.to_s %></h1>
	                	<img src="<%= location.picture.large %>" />
	                <% end %>
	            </article>
            </li>
        <% end %> 
    </ul>
<% else %>
    You have no locations
<% end %>