<% if @user.locations.length > 0 %>
    <section class="locations">
        <% @user.locations.each do |location| %>
            	<article class="location">
                    <%= link_to admin_location_path(location) do %>
                    	<img src="<%= location.picture.large %>" width="200" class="rounded" />
                        <h1><%= location.to_s %></h1>
                    <% end %>
                </article>
            </li>
        <% end %>
    </section>
<% else %>
    You have no locations
<% end %>