<span class="location-dates">
 <%= location.date_range[0].strftime("%b %d, %Y") if location.date_range[0] %><%= " - #{location.date_range[1].strftime("%b %d, %Y")}" if location.date_range.length > 1 %>
</span>

